<br/><br/><br/><br/>
<div class="row">
  <div class="col-md-3">
    <%= image_tag gravatar_url(@user) ,class: "gravatar-full" %>

    <div class="card">
      <div class="card-header">Contacts</div>
      <div class="card-body">
        Email Address: <%= @user.email %><br/>
        Phone Number: <%= @user.phone_number %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2><%= @user.fullname %></h2>
    <%=  @user.description %>
  </div>
</div>
